<link rel="apple-touch-icon" sizes="180x180" href="{{ relativeRoot }}/assets/img/asciidoc-logo-apple-touch-180.png">
<link rel="icon" type="image/png" sizes="196x196" href="{{ relativeRoot }}/assets/img/asciidoc-logo-196.png" />
<link rel="icon" type="image/png" sizes="192x192" href="{{ relativeRoot }}/assets/img/asciidoc-logo-192.png" />
<link rel="icon" type="image/png" sizes="128x128" href="{{ relativeRoot }}/assets/img/asciidoc-logo-128.png" />
<link rel="icon" type="image/png" sizes="96x96" href="{{ relativeRoot }}/assets/img/asciidoc-logo-96.png" />
<link rel="icon" type="image/png" sizes="64x64" href="{{ relativeRoot }}/assets/img/asciidoc-logo-64.png" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ relativeRoot }}/assets/img/asciidoc-logo-32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ relativeRoot }}/assets/img/asciidoc-logo-16.png" />
<link rel="icon" type="image/svg+xml" href="{{ relativeRoot }}/assets/img/asciidoc-logo.svg">
<link rel="icon" type="image/png" href="{{ relativeRoot }}/assets/img/asciidoc-logo-48.png">
<link rel="shortcut icon" href="{{ relativeRoot }}/assets/img/favicon.ico">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="{{ relativeRoot }}/assets/img/asciidoc-logo-mask.svg" color="#1f8197">
<meta name="msapplication-TileColor" content="#1f8197">
<meta name="theme-color" content="#1f8197">
