{% macro tabset(content, type='plain') %}
  <div class="tabset">
    <div class="select">
      <select>
        {% for item in content.items %}
          <option value="tabset{{ content.index }}{{ item.id }}">{{ item.title }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="ulist tabs">
      <ul>
        {% for item in content.items %}
          <li>
            <p><a id="tabset{{ content.index }}{{ item.id }}"></a>{{ item.title }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="content">
      {% for item in content.items %}
        <div class="tab-pane" aria-labelledby="tabset{{ content.index }}{{ item.id }}">
          {% if type === 'editor' %}
            {% include "./_editor-content.njk" %}
          {% else %}
            {% include "./_plain-content.njk" %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endmacro %}
